**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author:
Sreya Kambhatla

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10 - Insert a markdown cell to list Objectives**

#### Objectives Covered in this Notebook:
- List of Popular Languages used in Data Science
- List of Popular Data Science Libraries 
- Most Used Tools by Data Scientists
- An example on how to code an arithmatic equation in Jupyter Notebook!

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. scikit learn

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
|------------------|
|     Jupyter      |
|   Apache Spark   |
|    IBM SPASS     |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python:

**Exercise 8 - Create a code cell to multiply and add numbers**

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours:**

In [5]:
# This will convert 200 minutes to hours by diving by 60.
n = 200
Hours = n/60
print(Hours)

3.3333333333333335